<li>
  <td><%= answer.body %></td>
  <td><%= link_to 'Show', admins_answer_path(answer) %></td>
  <td><%= link_to 'Edit', edit_admins_answer_path(answer) %></td>
  <td><%= link_to 'Delete', admins_answer_path(answer),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
</li>
