<h1>Editing Answer</h1>


<p>
  <%= @answer.question.body %>
</p>

<%= render 'form', answer: @answer %>

<%= link_to t('navigation.show'), @answer %> |
<%= link_to t('navigation.back'), question_path(@answer.question) %>
