<tr>
  <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
  <td type="button" class="btn btn-success btn-sm btn-block"> <%= link_to gist.link_to_gist,gist.link_to_gist, target:'_blank'  %></td>
  <td><%= gist.user.email %></td>

</tr>
