<h1>Test <%= @test_passage.test.title %> Test was Completed!</h1>

<b><% if @test_passage.success?%></b>
<h2 style ="color: #00FF00; "> <em>Поздравляю, вы успешно прошли тест.</em></h2>
<%else%>
<h2 style ="color: #ff0000; "> <em>К сожалению, вы не прошли тест.</em></h2>
<%end%>

  <h3><%= link_to 'Back to all tests', tests_path %>
  </h3>
