<dev> <%= current_year %></dev>
<br> <br>
<div>Gagiev Ramazan</div>
<br>
<br>

<p>
  <%= link_to 'Обратная связь', new_feedback_path %><br>
</p>

 <div>
   <p><%= github_url('Sakamoto505', 'test-guru')%> training project for creating and passing tests <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %></p>
 </div>
