

<dev> <%= current_year %></dev>
<br> <br>
<div>Gagiev Ramazan</div>
<br>
<br>
 <div>
   <p><%= github_url('Sakamoto505', 'test-guru')%> training project for creating and passing tests <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %></p>
 </div>
